@charset "UTF-8";
/* リキッドレイアウト対応 */
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4414414414vw;
  }
}
@media (min-width: 1110px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-company {
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .l-company {
    padding-top: 2.5rem;
  }
}

.l-contact {
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .l-contact {
    margin-top: 6.875rem;
  }
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1160px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-recruit {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-recruit {
    margin-top: 4.375rem;
  }
}

.l-service {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .l-service {
    margin-top: 8.75rem;
  }
}

.l-works {
  margin-top: 80px;
  margin-top: 5rem;
}

.l-topnews {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@includemq (md) {
  .l-topnews {
    margin-top: 4.375rem;
  }
}

.c-button {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  width: 200px;
  width: 12.5rem;
  text-transform: uppercase;
  background: transparent -webkit-gradient(linear, left top, right top, from(#7633A4), to(#250D65)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #7633A4 0%, #250D65 100%) 0% 0% no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  padding: 23px 0;
  padding: 1.4375rem 0;
  line-height: 1;
}

.c-hamburger {
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  position: relative;
  z-index: 100;
}

.c-hamburger span {
  position: absolute;
  width: inherit;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-hamburger span:nth-child(1) {
  top: 15%;
}

.c-hamburger span:nth-child(2) {
  top: 50%;
}

.c-hamburger span:nth-child(3) {
  top: 85%;
}

.c-hamburger.is-active span:nth-child(1) {
  top: 60%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger.is-active span:nth-child(2) {
  top: 51%;
  opacity: 0;
}

.c-hamburger.is-active span:nth-child(3) {
  top: 60%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-mv-btn {
  padding: 20px 70px;
  padding: 1.25rem 4.375rem;
  border: 1px solid #fff;
  line-height: 1;
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.05em;
  border-radius: 50px;
}

.c-section-header {
  color: #391E88;
  text-align: center;
}

.c-section-header__jatitle {
  color: #391E88;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 768px) {
  .c-section-header__jatitle {
    font-size: 0.875rem;
  }
}

.c-section-header__engtitle {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.2333333333;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .c-section-header__engtitle {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .c-section-header--left {
    text-align: left;
  }
}

.c-test {
  font-size: 100px;
  font-size: 6.25rem;
  color: red;
}

.c-test--english {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -25px;
  bottom: -1.5625rem;
  text-align: right;
}

.swiper-pagination-bullet-active {
  background: #391E88;
}

.p-card__img {
  position: relative;
}

.p-card__img::before {
  content: "";
  display: block;
  padding-top: 62.586567%;
}

.p-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-card__body {
  margin-top: 14px;
  margin-top: 0.875rem;
}

.p-card__title {
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05wm;
}

.p-card__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.p-company {
  padding-bottom: 96px;
  padding-bottom: 6rem;
  background-image: url(../images/common/company-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: 15px 0;
  background-position: 0.9375rem 0;
}
@media screen and (min-width: 768px) {
  .p-company {
    padding-top: 8.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-company__inner.l-inner {
    max-width: 81.25rem;
    background: url(../images/common/company-bg-pc.png) no-repeat center center/contain;
  }
}

.p-company__contents {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-company__content {
  margin-top: 43px;
  margin-top: 2.6875rem;
  font-size: 14px;
  font-size: 0.875rem;
}

.p-company__subtitle {
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5;
  display: inline-block;
}

.p-company__yellow {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), color-stop(75%, #f5f534), color-stop(90%, #f5f534), color-stop(90%, transparent), to(transparent));
  background: linear-gradient(180deg, transparent 0%, transparent 75%, #f5f534 75%, #f5f534 90%, transparent 90%, transparent 100%);
}

.p-company__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-contact {
  padding: 60px 0;
  padding: 3.75rem 0;
  background-color: #f7f7f7;
}

.p-contact__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-contact__text {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
}

.p-footer-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  gap: 1.25rem;
}

.p-footer-nav__item a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.06em;
}

.p-footer {
  background-color: #120E19;
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-footer {
    padding: 3.75rem 0;
  }
}

.p-footer__inner {
  padding: 0 30px;
  padding: 0 1.875rem;
  margin: auto;
}

.p-footer__copyright {
  text-align: center;
  margin-top: 40px;
  margin-top: 2.5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.06em;
}

.p-header {
  height: 62px;
  height: 3.875rem;
  background-color: transparent;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .p-header__inner {
    padding: 0 1.875rem;
  }
}

@media screen and (min-width: 768px) {
  .p-header__drawer {
    display: none;
  }
}

.p-header__pc-nav {
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .p-header__pc-nav {
    display: block;
  }
}

.p-header__logolink {
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  display: block;
}

.p-mv {
  position: relative;
  height: 100vh;
  background-image: url(../images/common/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.p-mv__header {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  left: 3.125rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .p-mv__header {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
}

.p-mv__title {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2916667;
}
@media screen and (min-width: 768px) {
  .p-mv__title {
    font-size: 4.5rem;
    width: 100vw;
  }
}

.p-mv__subtitle {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.108em;
  line-height: 1.8125;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-mv__subtitle {
    font-size: 1.5rem;
  }
}

.p-mv__btn {
  margin-top: 50px;
  margin-top: 3.125rem;
}

.p-mv__scroll {
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.08em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 70px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.p-mv__scroll apan {
  position: relative;
}

.p-mv__scroll span::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 50px;
  position: absolute;
  background-color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -56px;
  bottom: -20px;
}

@media screen and (min-width: 768px) {
  .p-news-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .p-news__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-news__items {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-news__items {
    margin-top: 0;
    margin-left: 1.25rem;
  }
}

.p-news__item + .p-news__item {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-news__item + .p-news__item {
    margin-top: 0.9375rem;
  }
}

.p-news-content__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-news-content__date {
  color: #333;
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
}

.p-news-content__category {
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 0.05em;
  border-radius: 50px;
  line-height: 1;
  padding: 4px 18px;
  padding: 0.25rem 1.125rem;
  background-color: #E8E8E8;
  margin-left: 15px;
  margin-left: 0.9375rem;
}

.p-news-content__text {
  font-size: 14px;
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  .p-news-content__link {
    margin-left: 1.25rem;
  }
}

.p-recruit__text-block {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-recruit__text {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
}

.p-recruit__inner.l-inner {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .p-recruit__inner.l-inner {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .p-recruit__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.p-recruit__img {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-recruit__img {
    width: 60%;
  }
}

.p-recruit__img::before {
  content: "";
  display: block;
  padding-top: 37.333333%;
}
@media screen and (min-width: 768px) {
  .p-recruit__img::before {
    padding-top: 50%;
  }
}

.p-recruit__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-recruit__contents {
  background-color: #f7f7f7;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
}
@media screen and (min-width: 768px) {
  .p-recruit__contents {
    padding: 0;
  }
}

.p-recruit__btn {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.79;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-recruit__title {
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .p-recruit__title {
    width: 40%;
  }
}

.p-service__items {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-service__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.875rem;
    gap: 1.875rem;
  }
}

.p-service-item + .p-service__item {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-service-item + .p-service__item {
    margin-top: 0;
  }
}

.p-service__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-works {
  padding-bottom: 96px;
  padding-bottom: 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: 15px 0;
  background-position: 0.9375rem 0;
}

.p-works__contents {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-works__content {
  margin-top: 43px;
  margin-top: 2.6875rem;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .p-works__content {
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(33%, transparent), color-stop(33%, #f0f0f0), to(#f0f0f0));
    background: linear-gradient(90deg, transparent 0%, transparent 33%, #f0f0f0 33%, #f0f0f0 100%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 3.75rem;
    padding-bottom: 5rem;
  }
}

.p-works__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-works__text-body {
  background: #F0F0F0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding: 25px;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  padding-top: 156px;
  padding-top: 9.75rem;
  margin-top: -116px;
  margin-top: -7.25rem;
}
@media screen and (min-width: 768px) {
  .p-works__text-body {
    margin-left: 0;
    margin-left: initial;
    padding: 0;
    margin-top: 0;
    width: 40.5%;
  }
}

.p-works__images {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-works__images {
    width: 59.5%;
  }
}

.p-works__text-block {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-works__text-block {
    width: 100%;
    text-align: center;
  }
}

.p-works__img {
  position: relative;
}

.p-works__img::before {
  content: "";
  display: block;
  padding-top: 68.955%;
}

.p-works__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pc-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .pc-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-header__pc-nav {
  height: inherit;
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: serif;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.06em;
  line-height: 1;
  font-weight: bold;
  padding-left: 13px;
  padding-left: 0.8125rem;
  padding-right: 12px;
  padding-right: 0.75rem;
}

.pc-nav__item:last-child a {
  padding-right: 0;
}

.pc-nav__item:first-child a {
  padding-left: 0;
}

.sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: purple;
}

.sp-nav.is-active {
  display: block;
}

.sp-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  padding: 6.25rem 0;
  min-height: 100vh;
}

.sp-nav__item {
  width: 100%;
}

.sp-nav__item a {
  color: white;
  text-align: center;
  display: block;
  padding: 10px 0;
  padding: 0.625rem 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
}
/*# sourceMappingURL=styles.css.map */
