@use "global" as *;

.p-company {
  padding-bottom: rem(96);
  background-image: url('<?php echo get_template_directory_uri(); ?>/images/common/page-company-bg-pc.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: rem(15) 0;
  @include mq(md) {
    padding-top: rem(136);
  }
}

.p-company__inner {
  padding-top: rem(32);
  padding-bottom: 0;
  background-image: url('<?php echo get_template_directory_uri(); ?>/images/common/company-bg-sp.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position: rem(-13) rem(-46) ;
  @include mq(md) {
  padding-top: rem(136);
  background-image: url('<?php echo get_template_directory_uri(); ?>/images/common/company-bg-pc.png');
  background-repeat:no-repeat;
  background-position:  top center;
  background-size: rem(1300);
  }
}


.p-company__contents {
  margin-top: rem(30);
  text-align: center;
}

.p-company__content {
  margin-top: rem(43);
  font-size: rem(14);
}

.p-company__subtitle {
  text-align: center;
  font-size: rem(32);
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5;
  display: inline-block;
}

.p-company__yellow {
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 75%,
    #f5f534 75%,
    #f5f534 90%,
    transparent 90%,
    transparent 100%
  );
}

.p-company__btn {
  margin-top: rem(30);
}
.p-company__message {
  margin-top: rem(60);
  @include mq(md) {
    display: flex;
    gap:rem(30)

  }
}

.p-company__message-image {
  aspect-ratio: 335/248;
  @include mq(md) {
    margin-top: rem(60);

}
}

.p-company__message-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-company__message-text {
  margin-top: rem(30);
  font-size: rem(14);
  line-height: calc(24 /14);
  @include mq(md) {
    margin-top: rem(60);
    max-width: rem(605);
    width: 100%;
    font-size: rem(15);
}
}

.p-company__message-text p:not(:first-child){
  margin-top: calc(rem(14 )* (24/14));
}

.c-section-header__subpage {
  font-size: rem(24);
  font-weight: bold;
  line-height: 1.5;
}

.p-company-info__map {
  aspect-ratio: 335 / 240;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(60);
    aspect-ratio: 1110 / 394;

}
}

.p-company-info__map iframe {
  width: 100%;
  height: 100%;
}

.c-section-header__detail {
  font-size: rem(32);
}


